body {
  background-color: #ebd494;
  font-size: 1.5rem;
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.App {
  width: 80vw;
  height: 95vh;
  background-color: aliceblue;
  margin: 10px;
  padding: 20px;
}

ul {
  list-style-type: none;
}

h1 {
  background-color: green;
  font-size: 2.5rem;
  text-align: center;
  color: whitesmoke;
}

.allTodos {
  text-align: left;
}

button {
  margin-left: 20px !important;
}

.mainArea {
  margin: 40px;
}

.lineItem {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  border: green solid 3px;
}
